<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="fragments/base::layout(~{::section}, 'log-in')">
<section class="section">
    <div>
        <div>
            <table class="table">
                <thead>
                <tr>
                    <th class="text-nowrap">#</th>
                    <th class="text-nowrap">Id</th>
                    <th class="text-nowrap">Nazwa</th>
                    <th class="text-nowrap">Cena zakupu</th>
                </tr>
                </thead>
                <tbody>
                <tr th:object="${buyInfo}">
                    <td></td>
                    <td th:text="*{assetId}"></td>
                    <td th:text="*{assetName}"></td>
                    <td th:text="*{#numbers.formatCurrency(price)}"></td>
                </tr>
                </tbody>
            </table>
            <div>
                <form method="post" th:object="${buyInfo}" th:action="@{/handle-buy}">
                    <br>
                    <div th:if="${status} == 'not_enough_money'">
                        <div class="alert alert-success d-flex mb-3 fade show" role="alert">
                            <div class="p-2">
                                NIEWYSTARCZAJĄCA ILOŚĆ ŚRODKÓW W PORTFELU
                            </div>
                        </div>
                    </div>
                            <div th:if="${status} == 'wrong_input'">
                                <div class="alert alert-success d-flex mb-3 fade show" role="alert">
                                    <div class="p-2">
                                        NIEPOPRAWNA WARTOŚĆ
                                    </div>
                                </div>
                            </div>
                    <div class="input-group input-group-lg">
                        <div class="input-group-text">Ilość: </div>
                        <input class="form-control" type="text" id="quantity" th:field="*{quantity}"/>
                        <input type="hidden" th:field="*{assetId}"/>
                        <input type="hidden" th:field="*{assetName}"/>
                        <input type="hidden" th:field="*{price}"/>
                        <input type="hidden" th:field="*{walletId}"/>
                        <br><br>
                        <input type="submit" class="btn btn-outline-dark" value="Kup">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
</html>