<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="fragments/base::layout(~{::section}, 'register')">
    <section class="section">
        <div class="d-flex align-items-center justify-content-center">
            <form method="post" th:object="${wallet}" th:action="@{/handle-wallet-creation/{userId}(userId=(${session.isEmpty()} ? '-1' : ${session.user.id}))}">
                <div class="d-flex justify-content-center">
                    <h4>UTWÓRZ NOWY PORTFEL</h4>
                </div>
                <br>
                <p style="color:red" th:errors="*{walletName}"></p>
                <div class="input-group input-group-lg">
                    <div class="input-group-text col-sm-3">Nazwa:</div>
                    <input class="form-control" type="text" id="wallet-name" th:field="*{walletName}">
                </div>
                <br>
                <br>
                <p style="color:red" th:errors="*{cash}"></p>
                <div class="input-group input-group-lg">
                    <div class="input-group-text col-sm-3">Kwota:</div>
                    <input class="form-control" type="text" id="cash" th:field="*{cash}">
                </div>
                <br>
                <div class="derp d-flex justify-content-center">
                    <input type="submit" class="btn btn-outline-dark btn-lg" value="Utwórz">
                </div>
            </form>
        </div>
    </section>
</html>