<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="fragments/base::layout(~{::section}, 'market')">

        <section class="section">
            <div>
                <h5>Dane z ostatnich 30 dni dla: <span th:text="${history.get(0).name}"></span></h5>
            </div>
            <div>
                <button type="button" class="btn btn-outline-dark btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Pokaż wykres świecowy
                </button>
            </div>
            <div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="text-nowrap">#</th>
                            <th class="text-nowrap">Data</th>
                            <th class="text-nowrap">Open</th>
                            <th class="text-nowrap">High</th>
                            <th class="text-nowrap">Low</th>
                            <th class="text-nowrap">Close</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="asset, state: ${history}">
                            <td th:text="${state.count}"></td>
                            <td th:text="${asset.date}"></td>
                            <td th:text="${#numbers.formatCurrency(asset.open)}"></td>
                            <td th:text="${#numbers.formatCurrency(asset.high)}"></td>
                            <td th:text="${#numbers.formatCurrency(asset.low)}"></td>
                            <td th:text="${#numbers.formatCurrency(asset.close)}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
</html>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Dane z ostatnich 30 dni dla: <span th:text="${history.get(0).name}"></span>
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex justify-content-center">
                <img src="https://play.min.io:9443/api/v1/buckets/moto-myszy/objects/download?preview=true&prefix=Y2FuZGxlLmpwZWc=&version_id=null">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>