<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" th:replace="fragments/base::layout(~{::section}, 'index')">
<body>
    <section class="section">

        <div th:if="${status} == 'login_successful'">
            <div class="alert alert-success d-flex mb-3 fade show" role="alert">
                <div class="p-2">
                    ZALOGOWANO
                </div>
                <button type="button" class="btn-close ms-auto p-2" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
        <div>
            <h1>Handluj akcjami, walutami i więcej z naszą aplikacją</h1>
            <p> Witaj w naszej aplikacji do handlu, która pozwoli Ci inwestować w różne instrumenty finansowe na całym świecie. Niezależnie od Twojego doświadczenia w inwestowaniu, nasza aplikacja jest łatwa w obsłudze i umożliwia szybki dostęp do rynków, dzięki czemu możesz łatwo handlować akcjami, walutami, towarami i innymi instrumentami finansowymi.</p>
            <h2>Dlaczego warto używać naszej aplikacji?</h2>
            <ul>
                <li><strong>Intuicyjny interfejs użytkownika:</strong> Nasza aplikacja została zaprojektowana w taki sposób, aby umożliwić łatwe i szybkie korzystanie z niej, niezależnie od Twojego poziomu doświadczenia w inwestowaniu.</li>
                <li><strong>Śledzenie rynków na żywo:</strong> Nasza aplikacja oferuje w czasie rzeczywistym informacje o rynkach, dzięki czemu możesz być na bieżąco ze zmianami w cenach akcji, walut i innych instrumentów finansowych.</li>
                <li><strong>Bezpieczeństwo:</strong> Nasza aplikacja wykorzystuje najnowocześniejsze metody szyfrowania, aby zapewnić bezpieczeństwo Twoich transakcji i danych osobowych.</li>
                <li><strong>Dostępność:</strong> Nasza aplikacja jest dostępna na różnych urządzeniach, dzięki czemu możesz handlować, gdziekolwiek jesteś i o każdej porze.</li>
            </ul>
            <h2>Zacznij inwestować już dziś</h2>
            <p>Zarejestruj się już dziś i zacznij handlować akcjami, walutami, towarami i innymi instrumentami finansowymi. Nasza aplikacja jest idealnym narzędziem dla każdego, kto chce zacząć inwestować lub rozwijać swoją wiedzę i umiejętności w dziedzinie inwestowania.</p>
        </div>

    </section>
</body>
</html>