<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="fragments/base::layout(~{::section}, 'log-in')">
<section class="section">
  <div>
    <div class="d-flex align-items-center justify-content-center">
      <p>Wybierz portfel, który chcesz wczytać: </p>
    </div>
    <div class="d-flex align-items-center justify-content-center">
      <form>
        <select>
          <option method="post" th:each="wallet, status:${walletList}" th:text="${wallet.walletName}"></option>
        </select>
        <input type="submit" class="btn btn-outline-dark" value="Wczytaj" >
      </form>
    </div>
  </div>
</section>
</html>