<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="fragments/base::layout(~{::section}, 'log-in')">
    <section class="section">
        <div class="d-flex align-items-center justify-content-center" th:if="${status} == 'success'">
            <span class="btn btn-outline-success">REGISTRATION SUCCESSFUL</span>
        </div>
        <div class="d-flex align-items-center justify-content-center">
            <form method="post" >
                <h4>Log-in page</h4>
                <label for="username">Username:</label>
                <br>
                <input type="text" id="username">
                <br><br>
                <label for="pass">Password:</label>
                <br>
                <input type="password" id="pass">
                <br>
                <br>
                <div class="d-flex align-items-center justify-content-between">
                    <input type="submit" class="btn btn-outline-dark" value="Log-In">
                    <a th:href="@{/register}" type="button" class="btn btn-outline-danger">Register</a>
                </div>
            </form>
        </div>
    </section>
</html>