<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="fragments/base::layout(~{::section}, 'log-in')">
    <section class="section">
        <div th:if="${status} == 'success'">
            <div class="alert alert-success d-flex mb-3 fade show" role="alert">
                <div class="p-2">
                    REJESTRACJA ZAKOŃCZONA SUKCESEM
                </div>
                <button type="button" class="btn-close ms-auto p-2" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
        <div th:if="${status} == 'logout_successful'">
            <div class="alert alert-success d-flex mb-3 fade show" role="alert">
                <div class="p-2">
                    WYLOGOWANO
                </div>
                <button type="button" class="btn-close ms-auto p-2" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        </div>
        <div class="d-flex align-items-center justify-content-center">
            <form method="post" th:action="@{/handleLogin}" th:object="${userDto}">
                <div class="d-flex justify-content-center">
                    <h4>LOGOWANIE</h4>
                </div>
                <br>
                <p style="color:red" th:errors="*{username}"></p>
                <div class="input-group input-group-lg">
                    <div class="input-group-text col-sm-3">Nazwa:</div>
                    <input class="form-control" type="text" th:field="*{username}" id="username">
                </div>
                <br><br>
                <p style="color:red" th:errors="*{password}"></p>
                <div class="input-group input-group-lg">
                    <div class="input-group-text col-sm-3">Hasło:</div>
                    <input class="form-control" type="password" th:field="*{password}" id="pass">
                </div>
                <br>
                <br>
                <div class="derp d-flex align-items-center justify-content-between">
                    <input type="submit" class="btn btn-outline-dark btn-lg" value="Zaloguj" >
                    <a th:href="@{/register}" type="button" class="btn btn-outline-danger btn-lg">Rejestracja</a>
                </div>
            </form>
        </div>
    </section>
</html>