<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="fragments/base::layout(~{::section}, 'market')">

        <section class="section">
            <div>
                <p>Gotówka: 1 500PLN</p>
            </div>
            <div>
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-nowrap">#</th>
                            <th class="text-nowrap">Nazwa</th>
                            <th class="text-nowrap">Cena zakupu</th>
                            <th class="text-nowrap">Historia</th>
                            <th class="text-nowrap">Kup</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="asset: ${market}">
                            <td>1</td>
                            <td th:text="${asset.id}"></td>
                            <td th:text="${asset.currentPrice}"></td>
                            <td><a class="btn btn-light btn-sm">Historia</a></td>
                            <td><a class="btn btn-outline-primary btn-sm">Kup</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
</html>