<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="fragments/base::layout(~{::section}, 'market')">

        <section class="section">
            <div class="py-2">
                <form th:action="@{/market/search}" method="GET" th:object="${filterInput}">
                    <div class="input-group input-group-lg">
                        <input class="form-control" type="text" placeholder="Nazwa aktywu" th:field="*{filterInput}" >
                        <button class="btn btn-outline-dark btl-lg" type="submit">Szukaj</button>
                    </div>
                </form>
            </div>
            <div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="text-nowrap">#</th>
                            <th class="text-nowrap">Id</th>
                            <th class="text-nowrap">Nazwa</th>
                            <th class="text-nowrap">Cena zakupu</th>
                            <th class="text-nowrap">Historia</th>
                            <th class="text-nowrap">Kup</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="asset, state: ${market}">
                            <td th:text="${state.count}"></td>
                            <td th:text="${asset.id}"></td>
                            <td th:text="${asset.name}"></td>
                            <td th:text="${#numbers.formatCurrency(asset.currentPrice)}"></td>
                            <td><a class="btn btn-outline-dark btn-sm disabled">Historia</a></td>
                            <td><a th:href="@{/buy-asset/{id}/{walletId}(id=${asset.id}, walletId=(${session.wallet != null} ? ${session.wallet} : '-10'))}"
                                   th:attr="class=${session.user != null} ? 'btn btn-outline-dark btn-sm' : 'btn btn-outline-dark btn-sm disabled'" >Kup</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
</html>