<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="fragments/base::layout(~{::section}, 'register')">
    <section class="section">
        <div class="d-flex align-items-center justify-content-center">
            <form method="post" th:object="${user}" th:action="@{/handleReg}">
                <div class="d-flex justify-content-center">
                    <h4>REJESTRACJA</h4>
                </div>
                <br>
                <p style="color:red" th:errors="*{username}"></p>
                <div class="input-group input-group-lg">
                    <div class="input-group-text col-sm-4">Nazwa:</div>
                    <input class="form-control" type="text" id="username" th:field="*{username}">
                </div>
                <br>
                <br>
                <p style="color:red" th:errors="*{password}"></p>
                <div class="input-group input-group-lg">
                    <div class="input-group-text col-sm-4">Hasło:</div>
                    <input class="form-control" type="password" id="pass" th:field="*{password}">
                </div>
                <br>
                <br>
                <div class="input-group input-group-lg">
                    <div class="input-group-text col-sm-4">Powtórz hasło:</div>
                    <input class="form-control" type="password" id="confirmPassword" th:field="*{confirmPassword}">
                </div>
                <br><br>
                <div class="derp d-flex justify-content-center">
                    <input type="submit" class="btn btn-outline-dark btn-lg" value="Zarejestruj">
                </div>
            </form>
        </div>
    </section>
</html>