<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="fragments/base::layout(~{::section}, 'register')">
    <section class="section">
        <div class="d-flex align-items-center justify-content-center">
            <form method="post" th:object="${user}" th:action="@{/handleReg}">
                <h4>REJESTRACJA</h4>
                <label for="username">Nazwa użytkownika:</label>
                <br>
                <p style="color:red" th:errors="*{username}"></p>
                <input type="text" id="username" th:field="*{username}">
                <br>
                <label for="pass">Hasło:</label>
                <br>
                <p style="color:red" th:errors="*{password}"></p>
                <input type="password" id="pass" th:field="*{password}">
                <br>
                <label for="confirmPassword">Powtórz hasło:</label>
                <br>
                <input type="password" id="confirmPassword" th:field="*{confirmPassword}">
                <br><br>
                <input type="submit" class="btn btn-outline-dark" value="Zarejestruj">
            </form>
        </div>
    </section>
</html>