<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="fragments/base::layout(~{::section}, 'log-in')">
<section class="section">
  <div class="d-flex align-items-center justify-content-center" th:if="${status} == 'success'">
    <span class="btn btn-outline-success">UTWORZONO NOWY PORTFEL</span>
  </div>
  <div class="d-flex align-items-center justify-content-center" th:if="${status} == 'top_up_success'">
    <span class="btn btn-outline-success">ZASILENIE PORTFELA ZAKONCZONO SUKCESEM</span>
  </div>
  <div>
    <div class="d-flex justify-content-evenly">
      <div>
        <p th:text="'Gotówka: ' + ${#numbers.formatCurrency(cash)}"></p>
      </div>
      <div>
        <button type="button" class="btn btn-outline-dark btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Pokaż skład portfela
        </button>
      </div>
    </div>
    <div>
      <table class="table">
        <thead>
          <tr>
            <th class="text-nowrap">#</th>
            <th class="text-nowrap">Nazwa</th>
            <th class="text-nowrap">Cena zakupu</th>
            <th class="text-nowrap">ilość</th>
            <th class="text-nowrap">Aktualna cena</th>
            <th class="text-nowrap">Wartość zakupu</th>
            <th class="text-nowrap">Aktualna wartość</th>
            <th class="text-nowrap">Zysk</th>
            <th class="text-nowrap">Sprzedaj</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="asset, state: ${walletAssets}">
            <td th:text="${state.count}"></td>
            <td th:text="${asset.assetId}"></td>
            <td th:text="${#numbers.formatCurrency(asset.purchasePrice)}"></td>
            <td th:text="${asset.quantity}"></td>
            <td th:text="${#numbers.formatCurrency(asset.currentPrice)}"></td>
            <td th:text="${#numbers.formatCurrency(asset.purchaseValue)}"></td>
            <td th:text="${#numbers.formatCurrency(asset.currentValue)}"></td>
            <td th:attr="style=${asset.profit > 0 ? 'color: green' : 'color: red'}" th:text="${#numbers.formatPercent(asset.profit,1,2)}"></td>
            <td><a th:href="@{/sell-asset/{waId}(waId=${asset.id})}" class="btn btn-outline-success btn-sm">Sprzedaj</a> </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
</html>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img th:src="@{/images/piechart.jpeg}">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
